#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillsTitle {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: #01e3be;
}

.skillsDesc {
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 2rem ;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw ;
    max-width: 80%;
    text-align: left;
}

