/* Estilos para telas maiores, como desktops e tablets */
.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 7rem;
  width: 6rem;
}

.desktopManuListItem {
  margin: 1rem;
  cursor: pointer;
  font-size: medium;
}
.desktopManuListItem:hover {
  color: #01e3be;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #01e3be;
}

.desktopMenuButton {
  background-color: #007FDE;
  color: white;
  
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  font-size: medium;
}

.desktopMenuButton:hover {
  background-color: #01e3be;
  color: black;
  transition: .5s;
  border: 1px solid rgb(41, 41, 41);
}

.desktopMenuImg {
  object-fit: cover;
  height: 5rem;
  width: 4rem;
  margin: 1rem;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .logo {
    height: 5rem;
    width: 4rem;
  }

  .desktopMenuButton {
    width: 6rem;
    font-size: small;
  }

  .desktopMenuImg {
    height: 3rem;
    width: 2rem;
  }
}
