#intro {
  height: calc(100 - 4rem);
  width: 100vw;
  max-width: 0 auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 92vh;
}

.introContant {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  margin-top: 1.8rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: #01e3be;
  font-weight: 100;
}

.introPera {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.bnt {
  background-color: #007fde;
  color: white;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: medium;
}

.bnt:hover {
  background-color: #01e3be;
  color: black;
  cursor: pointer;
  border-radius: 2rem;
}

@media screen and (max-width: 725px) {
  .bg {
    height: 90vh;
  }

  .introContant {
    height: 95vh;
  }

  .introText {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .introPera {
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
